/* header - util */
.util{width:100%;height:40px;background:rgb(238,238,238);}
.util ul{float:right;}
.util ul li{float:left;margin-right:20px;}
.util ul li:first-of-type{padding-right:20px;border-right:1px solid rgb(228,228,228);}
.util ul li a{display:block;line-height:40px;}
.util::after{content:'';display:block;clear:both;}
.util ul::after{content:'';display:block;clear:both;}
.util .btn_login{width:60px;height:40px;background:rgb(47,28,17) url(/coffee-bean/img/ico_login.png) no-repeat 50% 50%;}