/* header */
header{height:120px;border-bottom:1px solid #e5e5e5;background:#f6f5ef;}
header .inner{position:relative;width:1100px;height:120px;margin:0 auto;}
header .inner::after{content:'';display:block;clear:both;}
header h1{float:left;width:75px;height:75px;margin-top:22px;background:url(../img/img_logo.png) no-repeat;text-indent:-999px;}
header h1 a{display:block;width:100%;height:100%;}
header .gnb{position:absolute;top:65px;right:0;}
/* depth1 */
header .gnb .depth1{display:flex;}
header .gnb .depth1 li{height:56px;line-height:20px;padding:0 30px;}
header .gnb .depth1 li > a{display:block;height:100%;}
header .gnb .depth1 li:last-of-type{padding:0;}
/* depth2 */
header .gnb .depth2{display:none;}
/* depth3 */
header .gnb .depth3{display:none;}
/* util */
header .util{position:absolute;top:8px;right:20px;}
header .util ul{display:flex;padding:8px 45px 0 0;}
header .util ul li{position:relative;height:20px;padding:0 10px;line-height:20px;}
header .util ul li::after{content:'';display:block;position:absolute;top:50%;right:0;width:1px;height:12px;margin-top:-6px;background-color:#ebebeb;}
header .util ul li:last-of-type::after{content:none;}
header .util ul li a{font-size:13px;color:#555;}
header .util .btn_search{position:absolute;top:0;right:0;width:32px;height:32px;border:1px solid #ccc;border-radius:5px;background-color:#fff;}
header .util .btn_search a{position:relative;display:block;width:34px;height:34px;z-index:10;}
header .util .btn_search a img{position:absolute;top:6px;right:7px;}
header .util .btn_search label{width: 1px;height: 1px;margin: -1px;clip: rect(0, 0, 0, 0);overflow: hidden;position: absolute;}
header .util .btn_search input{display:none;position:absolute;top:0;right:0;height:27px;}